#block {
  width: 50px;
  height: 30px;
  position: relative;
  top: 270px;
  left: 95%;
}

#character {
  height: 60px;
  width: 80px;
  position: relative;
  top: 210px;
  left: 2%;
}
.bg {
  border: 1px solid;
  height: 500px;
  background: url(assets/3739446.webp);
  background-position: 100px 431px;
  background-size: cover;
}

@keyframes moving {
  0% {
    left: 98%;
  }

  100% {
    left: 0%;
  }
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.moving-animation {
  animation: moving infinite 1.5s ease-in-out;
}

.jump {
  top: 156px !important;
}
